.single-feature {
    margin-bottom: 80px;
    margin-top: 40px;
  }
  
  .single-feature h5 {
    font-size: 16px;
  }
  
  .media-right-margin {
    margin-right: 25px;
  }
  
  .single-feature p {
    font-size: 13px;
  }